@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  }
  
  @font-face {
    font-family:"elevon";
    src:url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

section {
    display: flex;
    justify-content: center;

}


.contact {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionDiv {
    display: flex;
    width: 100%;
    height: 500px;
}

.texto {
    font-family: 'Poppins';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.imgInfo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.bg-d {
    background-color: #021D40;
}