:root {
    --first-color: #021d40;
    --second-color: #6151d6;
    --third-color: #7ae7ea;
}

@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}
@font-face {
    font-family: 'Bungee Inline';
    src: url(https://fonts.gstatic.com/s/bungeeinline/v2/Tb-1914q4rFpjT-F66PLCTxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
}

.nav {
    background: linear-gradient(to right, var(--first-color) , var(--second-color), var(--third-color));
}
.nav a{
    font-family: Bungee Inline;
    color: white;
    font-size: x-large;
}

.nav_bar {
    justify-content: center;
}

.nav_bar a {
    color: white;
    margin-right: 30px;
    font-family: Poppins;
    font-weight:bold;
    font-size: 90%;
}

.container_navbar{
    padding-bottom: 60px;
}

@media (max-width: 991px) {
    .nav_bar{
        border-top: 1px solid black;
    }
}