:root {
    --first-color: #021D40;
    --second-color: #6151d6;
    --third-color: #7ae7ea;
}

@font-face {
    font-family:"elevon";
    src:url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0d47b1/00000000000000007735fd27/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
}
.titleVR{
    color: white;
    font-family: "Poppins";
}
.firstContainer {
    background-color: var(--first-color);
    height: 100%;
    padding-bottom: 190px;
}

.secondContainer {
    display: flex;
    background-color: var(--second-color);
    height: 1350px;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 1200px;

}


.communityTitle {
    color: white;
    font-family: "elevon";
    margin-bottom: 50px;
    margin-top: 70px;
}

h2 {
    color: white;
}

.firstImage {
    width: calc(95% - 100px);
    border-radius: 250px;
    transform: rotate(5deg);
    box-shadow: 13px 55px 1px rgba(0, 0, 0, 0.5);
}

.firstImage:hover {
    width: 95%;
}

.Title1 {
    padding-top: 90px;
    color: white;
    font-family: "elevon";
}

.informationField {
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    width: 95%;
    font-family: "Poppins";
}

.informatioContainer {

    width: 90%;
}

.secondImage {
    border-radius: 500px;
    width: 95%;
    height: 50%;
    box-shadow: 0 60px 6px rgba(0, 0, 0, 0.5);

}

.thirdContainer {
    background-color: var(--first-color);
}

.Title2 {
    padding-top: 100px;
    color: white;
    font-family: "Poppins";
}

.thirdImage {
    border-radius: 60px;
    width: 70%;
    max-height: 60%;
    box-shadow: 0 50px 26px rgba(0, 0, 0, 0.5);
    margin-bottom: 300px;
}

.Title3 {
    color: white;
    font-family: "elevon";
    margin-bottom: 50px;
}

.linkRef:visited, .linkRef:active{
    text-decoration: none;
    color: #021D40;
}
.linkRef:hover{
    color: #7ae7ea;
}

/* Estilos del menú para escritorio pequeño */
@media (max-width: 1280px) {
    .firstContainer {
        height: 900px;
    }

    .secondContainer {
        height: 1100px;
    }


    .thirdImage {
        width: 80%;
    }
}

/* Estilos del menú para tablets */
@media (max-width: 1024px) {
    .firstContainer {
        height: 750px;
    }
    .firstImage {
        width: 100%;
        pointer-events: none;
        box-shadow: 13px 30px 1px rgba(0, 0, 0, 0.5);
    }

}

/* Estilos del menú para dispositivos móviles */
@media (max-width: 768px) {
    .Title1 {
        color: white;
        padding-top: 0;
        padding-bottom: 0;
    }

    .communityTitle {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .firstImage {
        width: 90%;
        pointer-events: none;
        box-shadow: 13px 30px 1px rgba(0, 0, 0, 0.5);
    }

    .firstContainer {
        height: 600px;
    }

    .secondImage {
        width: 100%;
        height: 300px;
        border-radius: 0;
        box-shadow: 7px 20px 5px rgba(0, 0, 0, 0.5);
        object-fit: cover;
    }

    .Title2 {
        margin-top: 0;
        padding-top: 0;
    }

    .thirdImage {
        width: 100%;
    }

    .informationField {
        font-size: 1rem;
    }

    .secondContainer {
        height: 1000px;
    }
    
}