:root {
    --first-color: #021d40;
    --second-color: #6151d6;
    --third-color: #7ae7ea;
}

@font-face {
    font-family: 'Bungee Inline';
    src: url(https://fonts.gstatic.com/s/bungeeinline/v2/Tb-1914q4rFpjT-F66PLCTxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
}
@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
}
.titleVR{
    color: white;
}
.firstContainer {
    background-color: var(--first-color);
    height: 100%;
    padding-bottom: 190px;
}

.secondContainer {
    display: flex;
    background-color: var(--second-color);
    height: 1350px;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 1200px;

}

.lj {
    background-image: url('/public/imgs/fondo1.png');
}

.communityTitle {
    color: black;
    font-family: Bungee Inline;
    margin-bottom: 50px;
    margin-top: 70px;
}

h2 {
    color: black;
}

.firstImage {
    width: calc(95% - 100px);
    border-radius: 250px;
    transform: rotate(5deg);
    box-shadow: 13px 55px 1px rgba(0, 0, 0, 0.5);
}

.firstImage:hover {
    width: 95%;
}

.Title1 {
    padding-top: 90px;
    color: black;
    font-family: Bungee Inline;
}

.informationField {
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    width: 95%;
}

.informatioContainer {

    width: 90%;
}

.secondImage {
    border-radius: 500px;
    width: 95%;
    height: 50%;
    box-shadow: 0 60px 6px rgba(0, 0, 0, 0.5);

}

.thirdContainer {
    background-color: var(--first-color);
    background-image: url('/public/imgs/fondo1.png');
}

.Title2 {
    padding-top: 100px;
    color: black;
}

.thirdImage {
    border-radius: 60px;
    width: 70%;
    max-height: 60%;
    box-shadow: 0 50px 26px rgba(0, 0, 0, 0.5);
    margin-bottom: 300px;
}

.Title3 {
    color: black;
    font-family: Bungee Inline;
    margin-bottom: 50px;
}

/* Estilos del menú para escritorio pequeño */
@media (max-width: 1280px) {
    .firstContainer {
        height: 900px;
    }

    .secondContainer {
        height: 1100px;
    }


    .thirdImage {
        width: 80%;
    }
}

/* Estilos del menú para tablets */
@media (max-width: 1024px) {
    .firstContainer {
        height: 750px;
    }
    .firstImage {
        width: 100%;
        pointer-events: none;
        box-shadow: 13px 30px 1px rgba(0, 0, 0, 0.5);
    }

}

/* Estilos del menú para dispositivos móviles */
@media (max-width: 768px) {
    .Title1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .communityTitle {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .firstImage {
        width: 90%;
        pointer-events: none;
        box-shadow: 13px 30px 1px rgba(0, 0, 0, 0.5);
    }

    .firstContainer {
        height: 600px;
    }

    .secondImage {
        width: 100%;
        height: 300px;
        border-radius: 0;
        box-shadow: 7px 20px 5px rgba(0, 0, 0, 0.5);
        object-fit: cover;
    }

    .Title2 {
        margin-top: 0;
        padding-top: 0;
    }

    .thirdImage {
        width: 100%;
    }

    .informationField {
        font-size: 1rem;
    }

    .secondContainer {
        height: 1000px;
    }
    
}