.footer-container {
    background-color: var(--primary-color);    
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    font-size: 14px;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-content {
        display: flex; /* Use flexbox to arrange children side by side */
        align-items: center; /* Center vertically within the footer container */
        flex-direction: row;
      }
    .copy_content{
        width: 50%;
        height: auto;
    }
    .social_content{
        width: 50%;
        height: auto;
    }
  }
