:root {
    --Azul_principal: #01112a;
}

.Primero {
    display: flex;
    background: var(--Azul_principal);
    height: 300px;
}

.pp {
    text-align: center;
    width: 40%;
    height: 30%;
}

.foto {
    width: 60%;
    height: 50%;
}

.Imagen_perro {
    width: 100%;
    height: 300px;
}

.noticia1 {
    width: 30%;
    height: 40%;
}

.noticias_curiosidades {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-top: 1%;
}

.sub3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 1%;
}

.div2 {
    margin-top: 1%;
    text-align: center;
    background-color: rgba(1, 17, 42, 255);
    width: 100%;
    height: 750px;
}

.Principal3 {
    margin-top: 1%;
    text-align: center;
    background-color: rgba(1, 17, 42, 255);
    width: 100%;
    height: 750px;
}

.borde {
    text-align: center;
    border: 1px solid #024574;
    border-radius: 3%;
    padding: 10px;
    background-color: #024574;
    width: 60%;
    height: 90%;
    display: block;
    margin: 5%;
}

.contenendor3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #024574;
    border-radius: 3%;
    padding: 10px;
    background-color: #024574;
    width: 85%;
    height: 400px;
    margin: 7%;
}

.boton {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: white;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

svg {
    color: black;
}

.boton:hover {
    background-color: rgb(247, 249, 250);
}

.yu {
    text-align: justify;
    color: white;
    margin-top: 12%;
    font-size: 12px;
}

.argandar {
    height: 50%;
}

.titulo1 {
    margin-top: 35%;
    color: #386db8;
    text-align: center;
    font-size: 14px;
}

.titulo2 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: #386db8;
}

.titulo3 {
    padding-top: 2%;
    text-align: center;
    color: #386db8;
}

.parrafo1 {
    margin-top: 20%;
    color: white;
    text-align: center;
    font-size: 10px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.parrafo2 {
    margin-top: 10%;
    color: white;
}

.Acerca_de {
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-align: center;
}

.navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
}

.navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
}

.navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
    background: white;
}

.curiosidades {
    margin-top: 5%;
    height: 30%;
    width: 65%;
}

/* tablet */
@media screen and (min-width: 768px) {
    .Primero {
        display: flex;
        background: var(--Azul_principal);
        height: 300px;
    }

    .pp {
        text-align: center;
        width: 40%;
        height: 30%;
    }

    .foto {
        width: 60%;
        height: 50%;
    }

    .Imagen_perro {
        width: 100%;
        height: 300px;
    }

    .noticia1 {
        width: 30%;
        height: 40%;
    }

    .noticias_curiosidades {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80%;
        margin-top: 1%;
    }

    .sub3 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 90%;
        margin-top: 1%;
    }

    .div2 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .Principal3 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .borde {
        text-align: center;
        border: 1px solid #024574;
        border-radius: 3%;
        padding: 10px;
        background-color: #024574;
        width: 60%;
        height: 90%;
        display: block;
        margin: 5%;
    }

    .contenendor3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #024574;
        border-radius: 3%;
        padding: 10px;
        background-color: #024574;
        width: 85%;
        height: 400px;
        margin: 7%;
    }

    .boton {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: white;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    svg {
        color: black;
    }

    .boton:hover {
        background-color: rgb(247, 249, 250);
    }

    .yu {
        text-align: justify;
        color: white;
        margin-top: 12%;
        font-size: 16px;
    }

    .argandar {
        height: 50%;
    }

    .titulo1 {
        margin-top: 15%;
        color: #386db8;
        text-align: center;
        font-size: 16px;
    }

    .titulo2 {
        padding-top: 2%;
        padding-bottom: 2%;
        color: #386db8;
    }

    .titulo3 {
        padding-top: 2%;
        text-align: center;
        color: #386db8;
    }

    .parrafo1 {
        margin-top: 15%;
        color: white;
        text-align: center;
        font-size: 13px;
        margin-bottom: 6%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .parrafo2 {
        margin-top: 10%;
        color: white;
        text-align: center;
    }

    .Acerca_de {
        margin-top: 10%;
        color: white;
        text-align: center;
        font-size: 20px;
        text-align: center;
    }

    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 40%;
        left: 10px;
        font-weight: 700;
    }

    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 40%;
    }

    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navigation .nav-btn:hover {
        background: white;
    }

    .curiosidades {
        margin-top: 5%;
        height: 30%;
        width: 65%;
    }
}

/* small-desktop */
@media screen and (min-width: 1024px) {
    .Primero {
        display: flex;
        background: var(--Azul_principal);
        height: 300px;
    }

    .pp {
        text-align: center;
        width: 40%;
        height: 30%;
    }

    .foto {
        width: 60%;
        height: 50%;
    }

    .Imagen_perro {
        width: 100%;
        height: 300px;
    }

    .noticia1 {
        width: 30%;
        height: 40%;
    }

    .noticias_curiosidades {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80%;
        margin-top: 1%;
    }

    .sub3 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 90%;
        margin-top: 1%;
    }

    .div2 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .Principal3 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .borde {
        text-align: center;
        border: 1px solid #024574;
        border-radius: 3%;
        padding: 10px;
        background-color: #024574;
        width: 40%;
        height: 90%;
        display: block;
        margin: 5%;
    }

    .contenendor3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #024574;
        border-radius: 3%;
        padding: 10px;
        background-color: #024574;
        width: 85%;
        height: 400px;
        margin: 7%;
    }

    .boton {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background-color: white;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    svg {
        color: black;
    }

    .boton:hover {
        background-color: rgb(247, 249, 250);
    }

    .yu {
        text-align: justify;
        color: white;
        margin-top: 12%;
        font-size: 20px;
    }

    .argandar {
        height: 50%;
    }

    .titulo1 {
        margin-top: 10%;
        color: #386db8;
        text-align: center;
        font-size: 18px;
    }

    .titulo2 {
        padding-top: 2%;
        padding-bottom: 2%;
        color: #386db8;
    }

    .titulo3 {
        padding-top: 2%;
        text-align: center;
        color: #386db8;
    }

    .parrafo1 {
        margin-top: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
        margin-bottom: 6%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .parrafo2 {
        margin-top: 10%;
        color: white;
        text-align: center;
    }

    .Acerca_de {
        margin-top: 10%;
        color: white;
        text-align: center;
        font-size: 20px;
        text-align: center;
    }

    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 40%;
        left: 10px;
        font-weight: 700;
    }

    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 40%;
    }

    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navigation .nav-btn:hover {
        background: white;
    }

    .curiosidades {
        margin-top: 5%;
        height: 30%;
        width: 65%;
    }
}

/* large-desktop */
@media screen and (min-width: 1280px) {
    .Primero {
        display: flex;
        background: var(--Azul_principal);
        height: 600px;
    }

    .pp {
        text-align: center;
        width: 40%;
        height: 30%;
    }

    .foto {
        width: 60%;
        height: 50%;
    }

    .Imagen_perro {
        width: 100%;
        height: 600px;
    }

    .noticia1 {
        width: 30%;
        height: 40%;
    }

    .noticias_curiosidades {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80%;
        margin-top: 1%;
    }

    .sub3 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 90%;
        margin-top: 1%;
    }

    .div2 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .Principal3 {
        margin-top: 1%;
        text-align: center;
        background-color: rgba(1, 17, 42, 255);
        width: 100%;
        height: 750px;
    }

    .borde {
        text-align: center;
        border: 1px solid #024574;
        border-radius: 2%;
        padding: 10px;
        background-color: #024574;
        width: 35%;
        height: 90%;
        display: block;
        margin: 5%;
    }

    .contenendor3 {
        text-align: center;
        border: 1px solid #024574;
        border-radius: 30px;
        padding: 10px;
        background-color: #024574;
        width: 90%;
        height: 400px;
        display: block;
        margin: 5%;
    }

    .boton {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background-color: white;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    svg {
        color: black;
    }

    .boton:hover {
        background-color: rgb(247, 249, 250);
    }

    .yu {
        text-align: justify;
        color: white;
        margin-top: 12%;
        font-size: 15px;
    }

    .argandar {
        height: 50%;
    }

    .titulo1 {
        margin-top: 20%;
        color: #386db8;
        text-align: center;
        font-size: 35px;
    }

    .titulo2 {
        padding-top: 2%;
        padding-bottom: 2%;
        color: #386db8;
    }

    .titulo3 {
        padding-top: 2%;
        text-align: center;
        color: #386db8;
    }

    .parrafo1 {
        margin-top: 10%;
        color: white;
        text-align: center;
        font-size: 23px;

    }

    .Acerca_de {
        margin-top: 10%;
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 40%;
        left: 10px;
        font-weight: 700;
    }

    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 40%;
    }

    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navigation .nav-btn:hover {
        background: white;
    }

    .curiosidades {
        margin-top: 5%;
        height: 30%;
        width: 40%;
    }
}