.MTitle {
    font-family: "elevon";
    align-items: center;
    text-align: center;
    background-color: var(--Azul_updated);
    color: white;
    border-style: solid;
    border-radius: var(--bs-border-radius);
}