.MTitle {
    font-family: "Poppins";
    align-items: center;
    text-align: center;
    background-color: #021D40;
    color: white;
    border-style: solid;
    border-radius: var(--bs-border-radius);
}