:root {
  --Color_letras_Logo: #00307f;
  --Azul_Oscuro: #024574;
  --Celeste: #5fcfdd;
  --Azul: #01a8e0;
  --Amarillo: #eddb01;
  --Verde_Claro: #7eba01;
  --Cafe: #7b401b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
